
@mixin setbackgroundImage($url){
    background-image: $url;
    background-repeat: no-repeat,no-repeat !important;
    // background-repeat: no-repeat,no-repeat;
    // background-size: cover; 
    // background-image: linear-gradient(red, yellow);
}

.reset__password {
 display: block;
 height: 100% !important;
 background-image: url('/assets/images/reset.jpg') ;
 background-repeat: no-repeat,no-repeat !important;
 background-size: cover;

}




.reset__password {
    // height: 100% !important;
    // margin: 0% !important;
}