.pageNotFound{
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 600px;
    margin-left: 300px !important;
    background-image: url('/assets/images/page_not_found.jpg') !important;
    background:oldlace
}