.search{
    background-color: #2874f0;
    height: 5rem;
    .search__input{
        position: relative;
        height: 3rem;
        width: 380px;
        margin-left:260px;
        margin-top:10px;
    }

    .search__input__icon{
        position: absolute;
        margin-top: 15px;
        margin-left:-20px;
    }
}


.img-section {
 padding:10px;
 img {
     width: 100%;
 }

 .filter__section {

 }
}

.product-section {

}
